<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Data</title>
<link th:href= "@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div class="box">
	<br><br>
	<h2>Edit Data Mahasiswa</h2>
	<div id="inputdata">
    <form action="#" th:action="@{/saveData}" th:object="${mahasiswa}">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" /> <br><br>
        <label for="nama">Nama</label><br>
        <input type="text" th:field="*{nama}"> <br><br>
        <label for="nim">Nim</label><br>
        <input type="text" th:field="*{nim}"> <br><br>
        <label for="tgl">Tanggal Lahir</label><br>
        <input type="text" th:field="*{tgl}"> <br><br>
        <label for="alamat">Alamat</label><br>
        <input type="text" th:field="*{alamat}"> <br><br>
        <input type="submit"> <br><br>
    </form>
    </div>
    </div>
</body>
</html>